body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(250, 235, 215);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
