.note-container{
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 5px 25px
}
.note-container:hover{
   box-shadow: 3px 3px rgb(158, 158, 156), -1em 0 0.4em rgb(146, 146, 145);
   cursor: pointer;
}
.text-number{
    position: absolute;
    top: 40px;
    left: 12px;

}

.text-author{
    position: absolute;
    bottom: 5px;
    left: 9px;
}

