.register-container{
    background-color: rgb(236, 225, 201);
    height: 39vh;
    width: 27vw;
    margin: 255px auto;
    border-radius: 5px;
}

.register-container form{
    text-align: center;
    padding: 110px 0;
}

.register-container form button{
    margin: 3px;
    padding: 0 77px;
    background-color: rgb(250, 208, 166);
    border-color: rgb(200, 200, 200);
    color: rgb(255, 255, 255);;
}

.register-container form input{
    margin: 6px 0;
    border-radius: 3px;
    border-color: rgb(241, 220, 191);
 }
 